@import url('../common/theme.css');
    .title {
        background: linear-gradient(135deg, #A8E6CF, #DCEDC1, #FFD3B6, #FFAAA5);
            color: transparent;
            background: linear-gradient(135deg, #A8E6CF, #DCEDC1, #FFD3B6, #FFAAA5);
            -webkit-background-clip: text;
            background-clip: text;
            text-align: center;
            margin-top: 1.2rem;

            span {
            background: linear-gradient(135deg, #A8E6CF, #DCEDC1, #FFD3B6, #FFAAA5);
                color: transparent;
                background: linear-gradient(135deg, #A8E6CF, #DCEDC1, #FFD3B6, #FFAAA5);
                -webkit-background-clip: text;
                background-clip: text;
            }
    }
.film {
    padding-bottom: 0;

    hgroup {
        margin: 0;
    }

    @media (max-width: 768px) {
        width: 90%;
    }
}

.favorite {
    position: relative;

    svg {
        position: absolute;
        left: 85%;
        top: 5%;
        font-size: 2rem;
        color: var(--primary);
    }
}