@import url('./theme.css');
.container-flex {
    display: flex;
    gap: 3rem;
    justify-content: space-between;
}

form {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    &  button svg {
        margin-right: .5rem;
    }
}

.input-container {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
   
    & > a {
        font-size: 1.2rem;
        color: var(--primary-hover);

        &:hover {
            color: var(--primary-focus);
        }
    }
}

.input-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: .5rem;
}

.img-container {
    width: 40%;
    display: flex;
    align-items: center;
}

del {
    text-decoration: none;
}

.input-container .input-item > label {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
}

@media (max-width: 1000px) {
    .container-flex {
        flex-direction: column;
    }

    .input-container {
        width: 100%;
    }
    .input-container h2 {
        margin-top: 15vh;
    }

    .img-container {
        width: 80%;
        margin: 0 auto;
    }

}
