/**
 * Custom theme
*/
/* Red Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: #711DB0;
  --primary-hover: #C21292;
  --primary-focus: #EF4040;
  --primary-inverse: #FFA732;
}

/* Red Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    --primary: #7071E8;
    --primary-hover: #C683D7;
    --primary-focus: #C683D7;
    --primary-inverse: #FFC7C7;
  }
}

/* Red Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
    --primary: #711DB0;
    --primary-hover: #C21292;
    --primary-focus: #EF4040;
    --primary-inverse: #FFA732;
}

/* Red (Common styles) */
:root {
    --primary: #7071E8;
    --primary-hover: #C683D7;
    --primary-focus: #C683D7;
    --primary-inverse: #FFC7C7;
}