/**
 * Custom theme
*/
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: #35155D;
  --primary-hover: #512B81;
  --primary-focus: #4477CE;
  --primary-inverse: #8CABFF;
}

/* Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    --primary: #E19898;
    --primary-hover: #A2678A;
    --primary-focus: #4D3C77;
    --primary-inverse: #3F1D38;
  }
}

/* Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
  --primary: #35155D;
  --primary-hover: #512B81;
  --primary-focus: #4477CE;
  --primary-inverse: #8CABFF;

}

/* (Common styles) */
:root {
  --primary: #35155D;
  --primary-hover: #512B81;
  --primary-focus: #4477CE;
  --primary-inverse: #8CABFF;

  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
}

